<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nolson.plugins.solanawalletadaptor">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <!-- Support querying whether an app with the wallet endpoint role is available -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="solana-wallet" />
        </intent>

    </queries>
</manifest>
